form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 10em;
}
