td,table{
    border:1px solid black;
    border-collapse:collapse;
}
.vert{
    background-color:green;
}
.bleu{
    background-color:blue;
}
.bleu{    
    background-color:red;
}
.orange1{
    background-color:orange;
}
