.el--1 {
    background-color: blueviolet;
    justify-self: start; /* question 2.2.10 */
    align-self: start; /* question 2.2.10 */
}
.el--2 {
    background-color: orangered;
    /* question 2.1.17 */
    grid-row: 2; /* question 2.1.14 */
}
.el--3 {
    background-color: green;
    height: 150px;
    justify-self: end; /* question 2.2.9 */
    align-self: end; /* question 2.2.9 */
}
.el--4 {
    background-color: goldenrod;
}
.el--5 {
    background-color: palevioletred;
}
.el--6 {
    background-color: steelblue;
}
.el--7 {
    background-color: yellow;
}
.el--8 {
    background-color: crimson;
    grid-column: 2; /* question 2.1.14 */
    grid-row: span 2; /* question 2.1.18 */
}

.container--1 {
    display: none; /* question 2.2.1 */
}

.container--2 {
    display: grid; /* question 2.2.2 */
    grid-template-columns: 125px 200px 125px; /* question 2.2.3 */
    grid-template-rows: 300px 150px; /* question 2.2.3 */
    justify-content: center; /* question 2.2.4 */
    align-content: center; /* question 2.2.5 */
    gap: 50px; /* question 2.2.6 */
    align-items: center; /* question 2.2.7 */
    justify-items: center; /* question 2.2.8 */
    font-family: sans-serif;
    background-color: black;
    font-size: 40px;
    margin: 100px;

    width: 1000px;
    height: 600px;

    /* CSS GRID */
}